/**{
	border: 1px solid red;
}*/


body{
	background-color: #AF8B61;
	color: white;

}

body{
	font-family: helvetica;
}


#kitten {
	margin: 0 auto;
	width: 300px;
	display: block;
}

#inputs{
	margin: 0 auto;
	text-align: center;
}
h1{
	text-align: center;
}
button{
	margin: 0 auto;
	display: block;
}
#hud{
	display: flex;
}

.meter{
	justify-content: space-between;
	flex-grow: 1;
	text-align: center;
}
.metricDisplay{
	text-align: center;
}

#outer{
	display: flex;
}

.shift{
	width: 25%;
}







